Order allow,deny
<Files stats_time_exec.php>
   Order deny,allow
</Files>
<Files stats_1.php>
   Order deny,allow
</Files>
<Files stats_2.php>
   Order deny,allow
</Files>
<Files stats_3.php>
   Order deny,allow
</Files>